@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  /* fonts */
  --font-family: 'Montserrat', sans-serif;
  font-size: 6.25%;

  --node-dimensions: 3vw;

  --text: #3c403d;
  --bg-primary: #FBF7ED;
  --bg-secondary: #004C3F;
  --water: #ACDDE3;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
