.node-container {
  width: var(--node-dimensions);
  height: var(--node-dimensions);
  outline: 1px solid rgb(30, 32, 32);
  display: inline-block;
  cursor: pointer;
  perspective: 100rem;
  background-color: transparent;
}

.node-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.water {
  background-color: var(--water);
}

.island {
  background-color: rgb(12, 53, 71);
}

/* Water Search Animation */
.node-circle {
  height: var(--node-dimensions);
  width: var(--node-dimensions);
  border-radius:50%;
  transform: scale(0);
  background-color:red;
  animation: scaling 2.5s ease-in-out 1;
  display: inline-block;
  margin:.5rem;
}

@keyframes scaling{
  0%, 100%{
    transform: scale(0.1);
    background-color: #30FFB7;
  }
  40%{
    transform: scale(0.2);
    background-color: #07DEFF;
  }
  50%{
    transform: scale(0.3);
    background-color: #0761FF;
  }
}

/* Land Search Animation */
.node-flipping-animation {
  animation-iteration-count: 1;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

/* Position the front and back side */
.node-front, .node-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.node-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}


